<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class_name</key>
		<string>HomeViewController</string>
		<key>image</key>
		<string>tabbar-main</string>
		<key>image_selected</key>
		<string>tabbar-main-selected</string>
		<key>title</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>class_name</key>
		<string>StoreViewController</string>
		<key>image</key>
		<string>tabbar-category</string>
		<key>image_selected</key>
		<string>tabbar-category-selected</string>
		<key>title</key>
		<string>商城</string>
	</dict>
	<dict>
		<key>class_name</key>
		<string>PersonViewController</string>
		<key>image</key>
		<string>tabbar-my</string>
		<key>image_selected</key>
		<string>tabbar-my-selected</string>
		<key>title</key>
		<string>我的</string>
	</dict>
</array>
</plist>
